PORT=5000
MONGO_URI="mongodb+srv://sahu11725_db_user:TktpLrTaVZGbaMrr@roommatecluster.ux9klbh.mongodb.net/?appName=RoommateCluster"
JWT_SECRET=e90tujtnrgmm904tj95nmgbmer90gh5engn
CLIENT_URL=http://localhost:5173
ADMIN_EMAIL=admin@roommate.local
ADMIN_PASSWORD=Admin@12345




# sahu11725_db_user
# TktpLrTaVZGbaMrr